<%- include ("partials/header.ejs") %>

<%  if (locals.bname){%>
  <h1><%=bname %></h1>
<% }else{ %>
  <h1>Press the button to generate Brand Name</h1>
<%  } %>
<form action="/submit" method="POST">
  <input type="submit" value="Generate Name">
</form>
<%- include ("partials/footer.ejs") %>